process {
	executor = 'slurm'

	beforeScript = {
		"""
		module load go/1.20.1 singularity/3.8.7
		"""
	}

#    withName: MULTIQC {
#        ext.args = "-c /gpfs/data/bioinformatics/Pipelines/Production/Internal/CRI-BulkRNAseq-Pipeline/multiqc_config.yml"
#    }
}

singularity {
	runOptions = "-B /ess -B /scratch -B /gpfs/data"
	autoMounts = false
}

params {
    genomes {
        'GRCh38G38' {
            fasta = '/gpfs/data/referenceFiles/Homo_sapiens/STARgenome/GRCh38.primary_Gencode38/Sequence/GRCh38.primary_assembly.genome.fa'
            gtf = '/gpfs/data/referenceFiles/Homo_sapiens/STARgenome/GRCh38.primary_Gencode38/Annotation/gencode.v38.primary_assembly.annotation.gtf'
        }
        'GRCm39M27' {
            fasta = '/gpfs/data/referenceFiles/Mus_musculus/Gencode/GRCm39.primary_GencodeM27/Sequence/GRCm39.primary_assembly.genome.fa'
            gtf = '/gpfs/data/referenceFiles/Mus_musculus/Gencode/GRCm39.primary_GencodeM27/Annotation/gencode.vM27.primary_assembly.annotation.gtf'
        }
        'Rnor6R102' {
            fasta = '/gpfs/data/referenceFiles/Rattus_norvegicus/Ensembl/Rnor_6.0_r102/Sequence/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa'
            gtf = '/gpfs/data/referenceFiles/Rattus_norvegicus/Ensembl/Rnor_6.0_r102/Annotation/Rattus_norvegicus.Rnor_6.0.102.gtf'
        }
    }
    max_memory = 48.GB
    max_cpus = 40
    max_time = 72.h
    extra_salmon_quant_args = "--gcBias"
}
